* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FCF8E8;
}

.nav {
  background-color: #94B49F;
  color: #043C19;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

button {
  background-color: #FCF8E8;
  color: #043C19;
  border-radius: 12px;
  border: none;
  padding: 5px 24px;
  font-weight: bold;
}