* {
    box-sizing: border-box;
}

.titleText {
    color: #043C19;
    padding: 0 2rem;
}

.containerContents {
    /* border-style: solid;
    border-color: blue; */
    display: flex;
    /* height: 250px; */
    width: 500px;
    gap: 25px;
    background-color: #94B49F;
}

img {
    height: 250px;
}

p span {
    font-weight: bold;
}


.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 25px 50px 75px 100px;

}

.editButton {
    background-color: #FCF8E8;
    margin-top: 185px;
    color: #043C19;
    margin-right: 10px;
    border-radius: 12px;
    border: none;
    padding: 5px 25px;
}

.deleteButton {
    background-color: #FCF8E8;
    color: #043C19;
    margin-top: 5px;
    margin-right: -45px;
    border-radius: 12px;
    border: none;
    padding: 5px 17px;
}